<!-- -->
<ion-content class="auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding text-center>
      <div class="logo"></div>
      <h2 ion-text class="letra">
        <strong>PET SITE</strong>
      </h2>
    </div>

    <!-- Login form -->
    <form [formGroup]="formRegistro" class="list-form, letra" (ngSubmit)="register()">
      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="color"></ion-icon>
          Nombre
        </ion-label>
        <ion-input formControlName="name" type="text" value=""></ion-input>
      </ion-item>
      <ion-item *ngIf="formRegistro.get('name').errors && formRegistro.get('name').dirty">
        <p color="danger" ion-text *ngIf="formRegistro.get('name').hasError('required')">Indique su Nombre</p>
        <p color="danger" ion-text *ngIf="formRegistro.get('name').hasError('maxLength')">Máximo 30 caracteres</p>
        <p color="danger" ion-text *ngIf="formRegistro.get('name').hasError('pattern')"> Escriba su Nombre solo con letras</p>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="color"></ion-icon>
          Email
        </ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="formRegistro.get('email').errors && formRegistro.get('email').dirty">
        <p color="danger" ion-text *ngIf="formRegistro.get('email').hasError('required')">Indique su Email</p>
        <p color="danger" ion-text *ngIf="formRegistro.get('email').hasError('maxLength')">Máximo 30 caracteres</p>
        <p color="danger" ion-text *ngIf="formRegistro.get('email').hasError('pattern')">Formato de Email invalido</p>
        <p color="danger" ion-text *ngIf="formRegistro.get('email').hasError('pattern')">Siga este ejemplo: 'ejemplo@email.com'</p>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="color"></ion-icon>
          Password
        </ion-label>
        <ion-input formControlName="password" type="password" value=""></ion-input>
      </ion-item>
      <ion-item *ngIf="formRegistro.get('password').errors && formRegistro.get('password').dirty">
        <p color="danger" ion-text *ngIf="formRegistro.get('password').hasError('required')">Indique un Password</p>
        <p color="danger" ion-text *ngIf="formRegistro.get('password').hasError('minlength')">Minimo 8 caracteres</p>
        <p color="danger" ion-text *ngIf="formRegistro.get('password').hasError('maxLength')">Maximo 10 caracteres</p>
        <p color="danger" ion-text *ngIf="formRegistro.get('password').hasError('pattern')"> Solo puedes usar estos caracteres especiales: _ . * $ # - % /</p>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="color"></ion-icon>
          Comfirmar Password
        </ion-label>
        <ion-input formControlName="passconfirm" type="password" value=""></ion-input>
      </ion-item>
      <ion-item *ngIf="formRegistro.get('passconfirm').errors && formRegistro.get('passconfirm').dirty">
        <p color="danger" ion-text *ngIf="formRegistro.get('passconfirm').hasError('required')">Confirme su Password</p>
        <p color="danger" ion-text *ngIf="formRegistro.get('passconfirm').hasError('minlength')">Minimo 8 caracteres</p>
        <p color="danger" ion-text *ngIf="formRegistro.get('passconfirm').hasError('maxLength')">Maximo 10 caracteres</p>
        <p color="danger" ion-text *ngIf="formRegistro.get('passconfirm').hasError('pattern')"> Solo puedes usar estos caracteres especiales en tu Password: _ . * $ # - % /</p>
      </ion-item>
      <div margin-top>
        <button ion-button block class="fondo" tappable type="submit" [disabled]="!formRegistro.valid"> Registrar </button>
      </div>
    </form>

    <!--
    <p text-center ion-text class="letra">Or Sign Up with:</p>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <button ion-button icon-only block class="btn-facebook">
            <ion-icon name="logo-facebook"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-4>
          <button ion-button icon-only block class="btn-twitter">
            <ion-icon name="logo-twitter"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-4>
          <button ion-button icon-only block class="btn-gplus">
            <ion-icon name="logo-googleplus"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    -->
    
    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text class="letra" tappable (click)="login()">Tengo una cuanta registrada.</span>
    </div>
  </div>
</ion-content>
